[submodule "hago"]
	path = hago
	url = https://github.com/gyuha/hago.git
[submodule "themes/hago"]
	path = themes/hago
	url = https://github.com/gyuha/hago.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
